oauth_test.php
INSTALLED
sqlExecute.php
/cron/database.config.php
/repository/
/install/
/cache/*
/logs/*
/uploads/*
/modules/*
**/.git/
!/modules/README.md
/api/logoped.api.php
/api/logoped/*
/api/rowney
/api/concert.api.php
/api/concerts.api.php
/api/mediabox.api.php
/api/mediabox/
/api/concert/
/api/concerts/
/api/game/
/kozyrev-media.json
/feedback.php
/core/PHPLibrary/Game
/core/PHPLibrary/Minecraft
/core/PHPLibrary/concert.class.php
/core/PHPLibrary/concerts.class.php
/core/PHPLibrary/service.class.php
/core/PHPLibrary/Page/Admin/concerts.class.php
/core/PHPLibrary/Page/Admin/mediabox.class.php

/core/configuration.php
/core/configuration.*.php
!/core/configuration.*.sample.php

# Игнорируем все в locales
/locales/*
# Но исключаем ru_RU и en_US
!/locales/ru_RU
!/locales/en_US
# Игнорируем game и .git внутри всех папок (кроме исключённых)
/locales/*/game
/locales/*/.git

/templates/*
!/templates/default
!/templates/admin
!/templates/install
!/templates/README.md
/templates/admin/default/core/
/templates/admin/default/styles/page/feedback.css
/templates/admin/default/styles/page/concerts.css
/templates/admin/default/styles/page/mediabox.css
/templates/admin/default/templates/page/concerts.tpl
/templates/admin/default/templates/page/mediabox.tpl
/templates/admin/default/templates/page/feedback.tpl
/templates/admin/default/templates/page/feedback/
/core/PHPLibrary/feedbackMessages.class.php
/core/PHPLibrary/feedbackMessage.class.php
/core/PHPLibrary/Page/Admin/feedback.class.php
/api/feedback/
/api/feedback.api.php