body {
  display: grid;
  background-color: var(--primary-color-4);
  font-family: 'Roboto';
}

body p:has(img + img),
body p:has(figure + figure) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

body .video-container:nth-of-type(n+5),
body p > img:nth-child(n+5),
body p > figure:nth-child(n+5) {
  grid-column: 1 / -1;
  max-width: 100%;
}

body img,
body figure,
body .video-container {
  grid-column: auto;
  max-width: 100%;
  height: auto;
}

body figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

body figure img {
  margin-bottom: 8px;
}

body figure figcaption {
  font-style: italic;
  font-size: 11px;
  opacity: .8;
}

body > * {
  box-sizing: border-box;
  grid-column: 1 / -1;
  word-break: break-word;
  margin-bottom: 10px;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

body ul, li {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

body h1, h2, h3, h4, p {
  margin-top: 0;
}

body a {
  text-decoration: none;
}

body > h1,
body > h2 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

body > h3 {
  font-size: 14px;
  font-weight: 700;
}

body > h4 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

body > h5,
body > h6 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6  {
  padding-top: 10px;
}

body > p {
  font-size: 14px;
  margin-top: 0;
}